*{
  box-sizing: border-box;
}
body{
  background-color:#FFFFFF;
}

body,h1,h2,h3,h4,h5,h6,p,ul,li{
  margin: 0;
  padding: 0;
}

.container{
  padding: 0 16px;
}

.top{
  position: relative;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.textStatic{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2E3A59
}
.text{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: calc(16 + 8*(100vw/1920));
  line-height: 19px;
  color: #2E3A59
}
@media (max-width: 767px){
  .text{
  font-size:calc(16px + (8+8*0.7)*((100vw - 320px)/1920));
}
}
.textBold{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #2E3A59
}
@media (max-width: 767px){
  .textBold{
    
  font-size:calc(16px + (8+8*0.7)*((100vw - 320px)/1920));
}
}
.heading{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24px + 16*(100vw/1920));
  line-height: 28px;
  text-align: center;

  color: #2E3A59;
}
@media (max-width: 767px){
.heading{
  font-size:calc(24px + (16+16*0.7)*((100vw - 320px)/1920));
  }
} 
header{
  margin-top: 12px;
  margin-bottom: 64px;
}
nav{
  display: none;
}
.btn{
  display: none;
}
@media (min-width: 767px){
  header{
    margin-top:30px;
    margin-bottom:37px;
  }
  nav{
  display: inline-block;
  position: absolute;
  top: calc(50% - 16px);
  }
  ul{
  list-style: none;
  }
  li{
  display: inline;
  vertical-align: middle;
  margin-left: 22px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #A6ABBD;
  }
  .btnRight{
    position: absolute;
    right: 0;
    top: calc(50% - 16px);
  }
  .btn{
    vertical-align: middle;
    display: inline-block;
    
    margin: 0;
    padding: 0;
  
    width: 117px;
    height: 32px;
    border: none;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  
    text-align: center;
  
    color: #FFFFFF;
  
    background: #00C368;
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
    border-radius: 8px;
  }
}
#Logo{
  width: 216px;
  height: 63px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
@media (min-width: 767px){
  #Logo{
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
}
}
@media (min-width: 1023px){
  #Logo{
  width: 318px;
  height: 93px;
}
}
.imgMain{
  display: block;
 
  margin: auto;
  width: 218px;
  height: 115px;
  
}
.title{
  position: relative;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 50px;
}
/*Первая версия главной страницы*/ 
@media (min-width: 1023px){
  .imgMain{
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 218px);
  width: 436px;
  height: 230px;
}
.title{
  margin-top: 0;
  margin-bottom: 69px;
  width: 80%;
  left: 10%;
  text-transform: uppercase;
}
.title::before{
  content: '';
  width: 184px;
  height: 4px;
  display: block;
  background: #00C368;
  margin-bottom: 22px;
  position: relative;
  left: calc(50% - 92px);
}
}/*конец*/

.slider{
  position: relative;
  text-align: center;
}
.slide{
  display: block;
  margin: 0 57px;
}
/* Первая версия главной страницы */
@media (min-width: 1023px){
  .slider{
    position: relative;
    width: 90%;
    left: 5%;
  }
  .slide{
    display: block;
    width: 178px;
    height: auto;
}

.slide1,.slide2{
  display: inline-block;
  position: relative;
  margin-bottom: 129px;
}
.slide3,.slide4{
  margin-bottom: 61px;
}
.slide5,.slide6{
  display: inline-block;
  margin-bottom: 93px;
}
.slide4{
  position: absolute;
  right: 0;
  top: calc(50% - 115px);
}
}/*конец*/
.imgSlide{
  
  width: 64px;
  height: auto;
  
  margin: 0 auto 22.5px auto;
}
.slick-dots li.slick-active button:before{
  opacity: 1;
  color:#A6ABBD;
}
.slick-dots li button:before{
  font-size: 8px;
  opacity: 1;
  color: #E7EBF0;
}

.slider-controls{
  display: none;
  position: relative;
  height: 19px;
  width: 162px;
  margin: 0 auto;
}
@media(max-width:1023px){
  .slider-controls{
    display: block;
  }}
.slide-m-dots{
  display: inline-block;
  margin-left: 21px;
  margin-right: 10px;

}
.slide-m-next{
  display: inline-block;
  position: absolute;
  bottom: -50%;
}
.slide-m-prev{
  display: inline-block;
  position: absolute;
  bottom:-50%;
}
.firstMain{
  margin-bottom: 63px;
  position: relative;
}

@media(min-width:1023){
  .firstMain{
    padding-top: 75px;
    background-color: linear-gradient(to left, #FFFFFF, #E2E2E2);
    position: relative;
  }
}

.secondMainBlock{
  background: #F8FBFF;
  padding-top: 40px;
  padding-bottom: 9px;
  margin-bottom: 47px;
}
@media(min-width:1023px){
  .secondMainBlock{
    padding-top: 105px;
    margin-bottom: 0;
  }}
.greenLine::before{
  content: '';
  width: 184px;
  height: 4px;
  display: block;
  background: #00C368;;
  margin-bottom: 16px;
  position: relative;
  left: calc(50% - 92px);
}
.secondMainBlockTitle h2{
  margin-bottom: 16px;
}
.secondMainBlockTitle p{
  text-align: center;
}
.dropItem, .dropText {
  margin-top: 16px;
}
.dropItemLine::after{
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background: #E7EBF0;
  margin-top: 16px;
}
.dropList{
  margin-top: 31px;
  text-align: left;
}
.dropTitle{
  position: relative;
  margin-right: 19px;
  display: block;
  cursor: pointer;
}
.dropImg{
  display: none;
}
@media(min-width: 767px) {
  .dropTitle::before{
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
    content: '';
    width: 40px;
    height: 40px;
    background: #E7EBF0;
    border-radius: 40px;
  }
  .dropImg{
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
  }
}
@media(min-width: 1023px) {
  .secondMain{
    width: 704px;
    position: relative;
    left: calc(50% - 352px);
  }
  .secondMain h2{
    width: 640px;
    position: relative;
    left: calc(50% - 320px);
  }
}
.dropTitle::after{
  content: '';
  width: 19px;
  height: 11px;
  background-image: url('../img/ArrowBottom.svg');
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;

  margin-right: 5px;
  margin-top: 5px;
  top: 0;
  right: 0;
}
@media (max-width:400px) {
  .dropTitle{
    width: 269px;
  }
  
}
.dropTitle--active{
  color:  #00C368;
}

.dropTitle--active::after{
  transform: rotate(180deg);
}
.thirdMainBlockTitle{
  margin-bottom: 91px
}
.quoteBlock{
  position: relative;
  margin-bottom: 35px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
  border-radius: 32px;
}
.quoteBlock::before{
  content: '';
  position: absolute;
  background-image: url(../img/quote.svg);
  width: 40px;
  height: 26px;
  margin-top: 24px;
  margin-left: 16px;
}

.quoteBlock::after{
  content: '';
  position: absolute;
  background-image: url(../img/quote.svg);
  transform: rotate(180deg);
  top: 0;
  right: 0;
  width: 40px;
  height: 26px;
  margin-top: 24px;
  margin-right: 16px;
}
.quoteBlock p {
  text-align: center;
  line-height: 150%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quoteText{
  padding: 80px 16px 15px 16px;
}
.author{
  margin-top: 19px;
}
.imgAuthor{
  width: 59px;
  height: 59px; 
  margin-top: 3px;
  filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
}

.reviewFirst{
  position: relative;
  padding-left: 10px;
  padding-right: 8px;
  margin-bottom: 26px;
}

.reviewTextFirst{
  
  text-align: left;
  margin-left: 74px;
}
.reviewSecond{
  position: relative;
  padding-left: 4px;
  padding-right: 8px;
  margin-bottom: 36px;
}
.reviewSecondImg{
  position: absolute;
  top: 0;
  right: 3%;
}
.reviewTextSecond{
  text-align: left;
  margin-right: 80px;
}
.reviewText p {
  line-height: 150%; 
}

.none{
  display: none;
}
.imgQuote{
  display: none;
}

@media(min-width: 1023px) {
  .imgQuote{
    display:inline-block;
    width: 187px;
    height: 187px;
  }
  .imgAuthor{
    width: 97px;
    height: 97px;
    right: -25%;
  }
  .quoteBlock{
    margin-left: 12%;
    margin-bottom:134px;
    box-shadow:none;
    background-color: #F5F5F5;
  }
  .quoteText {
    display: inline-block;
    position: relative;
    margin-left: 71px;
    padding: 0;
    width: 489px;
  }
  .quoteText::before{
    content: '';
    position: absolute;
    background-image: url(../img/quoteGreen.svg);
    transform: rotate(180deg);
    width: 40px;
    height: 26px;
    top: 0;
    left: -10%;
  }
  .quoteText::after{
    content: '';
    position: absolute;
    background-image: url(../img/quoteGreen.svg);
    transform: rotate(0deg);
    width: 40px;
    height: 26px;
    bottom: 0;
    right: 0;
  }

  .quoteBlock p{
    text-align: left;
  }
  .quoteBlock::before {
    display: none;
  }
  .quoteBlock::after{
    top: auto;
    bottom: 0;
    transform: rotate(0deg);
    background-image: none;
  }
  .third{
    padding-top: 114px;
    background-color: #F5F5F5;
  }
  .reviewTextFirst{
    width: 242px;
  }
  .reviewTextFirst p, .reviewTextSecond p{
    line-height: 150%
  }
  .reviewFirst{
    display: inline-block;
    width: 335px;
    position: relative;
  }
  .reviewSecond{
    display: inline-block;
    width: 362px;
  }
  .reviewSecondImg{
    width: 97px;
    height: 97px;
  }
  .reviewSecondImg {
  left: 108px;
  }
  .reviewTextSecond{
    position: relative;
    left: 228px;
  }
  .review{
    margin-left:12%;
  }
}
@media(min-width: 1919px) {

.third{
  display: inline-block;
  width: 50%;
  height: 50%;
}
.secondMainBlock{
  display: inline-block;
  right: 0;
  position: absolute;
  width: 50%;
  height: 50%;
}
.twoBlocks{
  display: block;
}
.reviewTextFirst{
  margin-left: 0;
}
.imgAuthor{
  position: absolute;
  right: 0;
}
.reviewTextSecond{
  left: 120px;
}
.reviewSecondImg{
  left: 0;
}
.secondMainBlock{
  padding-bottom:201px;
}
}
/* вторая
@media(min-width: 1023px) {
.firstMainMax{
  padding-top: 75px;
    background: linear-gradient(to left, #FFFFFF, #E2E2E2);
    position: relative;
}
.titleMax::before{
  content: '';
  width: 184px;
  height: 4px;
  display: block;
  background: #00C368;;
  margin-bottom: 16px;
  position: relative;
  left: calc(50% - 92px);
  margin-bottom: 22px;
}
.titleMax{
  margin-bottom: 69px;
}
.slide{

}
}
*/