*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color:#FFFFFF;
  padding: 0 16px;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
  margin: 0;
  padding: 0;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.text{
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2E3A59
}
.heading{
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

color: #2E3A59;
}
header{
  margin-top: 12px;
  margin-bottom: 64px;
  
}
#Logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgMain{
  display: block;
  position: relative;
  margin: auto;
}
.title{
  margin-top: 38px;
  margin-bottom: 50px;
}
.slider{
  position: relative;
}
.slide{
  display: block;
  margin: 0 57px;
}
.imgSlide{
  
  width: 64px;
  height: auto;
  
  margin: 0 auto 22.5px auto;
}
.slick-dots li.slick-active button:before{
  opacity: 1;
  color:#A6ABBD;
}
.slick-dots li button:before{
  font-size: 8px;
  opacity: 1;
  color: #E7EBF0;
}

.slider-controls{
  display:block;
  position: relative;
  height: 19px;
  width: 162px;
  margin: 0 auto;
}
.slide-m-dots{
  display: inline-block;
  margin-left: 21px;
  margin-right: 10px;

}
.slide-m-next{
  display: inline-block;
  position: absolute;
  bottom: -50%;
}
.slide-m-prev{
  display: inline-block;
  position: absolute;
  bottom:-50%;
}
#firstMain{
  margin-bottom: 103px;
}
.greenLine{
  display: block;
  margin: 0 auto 16px auto;
  width: 184px;
  height: 4px;
  background-color:  #00C368;
}